@media  (max-width: 576px) {
    hmtl{
        width: 100%;
    }
    nav{
        display: block;
        position: relative;
    }
    .menuOps{
        display: flex;
        flex-direction: column;
        gap: 0;
        position: absolute;
        background: var(--color-body);
        width: 100%;
        height: 30rem;
        left: 0;
        right: 0;
        top: 75px;
        transform: translateX(-100%);
        transition: transform 0.3s ease; 
    }
    .menuOps h2{
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 2rem;

    }
    .menuOps h2 a:hover{
        border: 1px solid #087f5b ;
    }
    .menuOps.active{
        transform: translateX(0);
    }
    .toogle{
        width: 20%;
        height: 100%;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;

        
    }
    #botoncito{
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 5;
        color: #ffffff;
        font-size: 50px;
        margin: 18px 10px 0px ;
    }
    
    .logo a{
        font-size: 1rem;
    }
    .home{
        display:flex ;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
    }
    .home .text{
        height: 50%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .home .text h1{
        font-size: 3rem;
        
    }
    .home .text #sentence1{
        font-size: 2.2rem;
    }
    .home .text #sentence2{
        font-size: 2.2rem;
    }
    .home .mainButton{
        background: var(--color-title);
        border: none;
        margin: auto;
        width: 180px;
        height: 40px;
        font-size: 1.5rem;
        
    }
    .home .image{
        width: 80%;
        margin-bottom: 100px;
        /*margin-left: 15px; */

    }
    .home picture{
        display: flex;
        align-items: flex-start;
        width: 100%;

    }
    .home .image img{
        width: 100%;
    }
    footer .container{
        gap: 0;
    }
    .aboutUs{
        display: flex;
        flex-direction: column;
        margin: 0;

    }
    .aboutUs .image{
        width: 75%;
        margin: auto;
        order: 1;


    }
    .aboutUs picture{
        display: flex;
        align-items: flex-start;
        width: 100%;

    }
    .aboutUs .image img{
        margin: 0;
        width: 100%;
    }
    .aboutUs .text h2{
        font-size: 1.5rem;
        margin-bottom: 15px;
        
    }
    .aboutUs .text h3{
        font-size: 2.2rem;
        margin-bottom: 15px;
    }
    .aboutUs .text #sentence3{
        font-size: 1.1rem;
        margin: auto;
        margin-bottom: 20px;
    }
    .aboutUs .text{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .aboutUs .mainButton{
        background: var(--color-title);
        border: none;
        margin: auto;
        width: 180px;
        height: 40px;
        font-size: 1.5rem;
        
    }
    .foodMenu {
        width: 100%;
        height: 180vh;
        margin: 0;
        margin-top: 15px;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .foodMenu .text{
        width: 100%;
        height: 8rem;
        margin: 0;
        padding: 0;
        margin-top: 25px;
        margin-bottom: 10px;

    }
    .foodMenu .text h2{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .foodMenu .text p{
        font-size: 2rem;
    }
    .foodMenu .items{
        height: 85rem;
        gap: 1rem;
    }
    .services{
        margin: 0;
        margin-top: 10px;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 165vh;
    }
    .services .text{
        width: 100%;
        height: 12rem;
        margin: 0;
        padding: 0;
    }
    .services .text h2{
        font-size: 1.5rem;
    }
    .services .text p{
        font-weight: 300;
    }
    .services .services-{
        width: 100%;
        height: 80rem;
        flex-direction: column;
        justify-content: inherit;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
    }
    .services .services- .service{
        width: 100%;
    }
    .service p {
        margin: 0 20px 20px 20px;
    }
    .slogan{
        width: 100%;
        height: 20vh;
    }
    .slogan .container{
        height: 100%;
    }
    .slogan .container .text h2 {
        font-size: 1.2em;
        width: 95%;

    }
    footer{
        margin-top: 50px;
        height: 70vh;
    }
    footer .container{
        height: 100%;
        flex-flow: nowrap column ;
    }
    footer .container .element{
        width: 80%;
        margin-left: 35px;
    }
    footer .container .element .circles{
        width: 100%;

    }
    footer .container .element .circles .circle img{
        width: 35px;
        margin: auto;
    }
}