@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'variables.css';


*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    background: var(--color-body);
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    height: 10vh;
}
nav{
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10vh;
    position: fixed;
    background: var(--color-body);
}
.logo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo a {
    color: var(--color-title);
    margin-left: 15%;
    font-size: 2.5rem;
}

.menuOps{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    width: 85%;
    position: relative;
    left: 10%;
    font-size: .8rem;
    gap: 5%;
    color: var(--color-white);
}
.menuOps a{
    font-weight: 300;
    padding: 5px;

    
}
.menuOps h2 a:hover{
    outline: 1px solid #087f5b;
}

.home{

    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90vh;
}

.home .text{
    margin: auto;
}

.text h1{
    color: var(--color-title);
    font-size: 5vw;
}
.text #sentence1{
    color: var(--color-white);
    font-size: 2vw;
}
.text #sentence2{
    color: var(--color-white);
    font-size: 2vw;
}
.home .container{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}
.mainButton{
    background: var(--color-title);
    border: none;
    width: 180px;
    height: 40px;
    font-size: 1.3rem;
    
}
a{
    text-decoration: none;
color: var(--color-white);
}

.home .image picture{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;    
}

.home .image img{
    width: 40vw;

}

.aboutUs{
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    margin-top: 10vh ;
    
    
}

.aboutUs .text{
    margin: auto;
    padding-left: 30px;
    padding-bottom: 200px;
}

.aboutUs .text h2{
    color: var(--color-title);
    font-size: 1.5vw;
}
.aboutUs .text h3{
    color: var(--color-white);
    font-size: 3vw;
}


.aboutUs .text #sentence3{
    color: var(--color-white);
    width: 90%;
    font-size: 1.5vw;
    inline-size: none;
    margin-bottom: 0.5rem;
}

.aboutUs .image picture{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;    
}
.aboutUs .image img{
    margin-left: 10vw;
    width: 30vw;

}

.foodMenu{
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 25%) 75%;
    margin-top: 14vh;
    padding-top: 50px;
    
    
}

.foodMenu .text{
    grid-area: 1/1/1/4;
    width: 50%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 2rem;
}

.foodMenu .text h2{
    color: var(--color-title);
    font-size: 2rem;
    font-weight: 500;
}
.foodMenu h2{
    color: var(--color-black);
    font-size: 1.8rem;
    font-weight: 300;
}

.foodMenu h3{
    color: var(--color-black);
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 5px;
}

.foodMenu h4{
    color: var(--color-title);
    font-size: 1rem;
    font-weight: 300;
}
.foodMenu p{
    color: var(--color-white);
    font-size: 3rem;    
}

.foodMenu .items{
    grid-column: 1/4;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    justify-content: center;
    justify-content: center;
    gap: 5%;
    
}
.foodMenu .item{
    width: 20rem;
    height: 25rem;
    background: var(--color-semiWhite);
    border: 5px double black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.foodMenu .item #main{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.foodMenu .item img{
    width: 12rem
}
.foodMenu .icon-item{
    width: 2rem;
    margin-left: 280px;

}


.services{
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 25%) 75%;
    margin-top: 10vh;
    margin-bottom: 90px;
    
    
}

.services .text{
    grid-area: 1/1/1/4;
    width: 50%;
    margin: auto;
    margin-top: 70px;
    text-align: center;
    padding-bottom: 2rem;
}

.services .text h2{
    color: var(--color-title);
    font-size: 4rem;
    font-weight: 500;
}
.services h2{
    color: var(--color-title);
    font-size: 2rem;    
    font-weight: 300;
}
.services p{
    color: var(--color-white);
    font-size: 1.2rem; 
    margin-bottom: 15px;  
    margin-top: 10px;

}
.services .text P{
    width: 100%;
    color: var(--color-white);
    font-size: 2.5rem; 
    margin-bottom: 15px;   
}

.services .services-{
    grid-column: 1/4;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
    margin: auto;
    
}
.services .service{
    width: 20vw;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.services .service picture{
    width: 90%;
    margin: 15px;
}

.services .service picture img{
    width: 14rem
}

.slogan{
    width: 100%;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.slogan .container{
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--color-semiWhite);
    border: 7px double black;
}
.slogan .container .text h2{
    margin: auto;
    width: 80%;
    font-size: 2rem;
    color: var(--color-black);
    font-weight: 300;
    margin-bottom: 25px;
}
footer{
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
}

footer .container{
    color: var(--color-white);
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10rem
}

footer hr{
    margin-bottom: 15px;
    width: 50%;
    border-color: var(--color-title);
}

footer ul li{
    list-style: none;
    
}
footer .element{
    width: 10%;
}

footer .circles{
    color: var(--color-title);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;

}

footer .circle img{
    width: 60px;
}